# SQLite Databases
*.db
*.sqlite
*.sqlite3
*.db-journal

# Specific Production Traceability DB
production_logs.db

# Exported CSV / Excel Production Reports
*.csv
*.xlsx
exports/

# 
*.pyc
__pycache__/